<nav class="footerBox">
  <nav class="box">
    <button (click)="GoTo('/addform')" type="button">
      <i class="fa-solid fa-file-signature iMenu"></i>
      <span> เก็บข้อมูล</span>
    </button>
    <button (click)="GoTo('/viewdata')" type="button">
      <i class="fa-solid fa-folder-open iMenu"></i>
      <span> ข้อมูลทั้งหมด</span>
    </button>
    <button (click)="Signout()" type="button">
      <i class="fa-solid fa-door-open iMenu"></i>
      <span> ออกจากระบบ</span>
    </button>
  </nav>
</nav>
